<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div id="book_catalog">
<h1>Book Reviews Home</h1>

<table>
<
<% @books.each do |book| %>

  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
 
   <td>
	<%= image_tag(book.image_url, :class => 'list_image') %>
   </td>
   
    <td class="list_description">
    <h3><%= book.title %></h3>
    <%= sanitize book.review %>
    
    </td>
    <td>
      <span class="rating"><p>Rating:</p><%= book.rating %></span>
    </td>
  </div>
<% end %>

</table>
